body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#calculadora {
    display: flex;
    flex-wrap: wrap;
}
input, button, select, option {
    font-size: 1.5vw;
    border: solid 1px #000;
    margin: 0 0 5px 5px;
    border-radius: 5px;
    height: 3vw;
}
input {
    width: 40%;
}
button {
    width: 3vw;
}
.calcular {
    width: 100%;
}
p {
    width: 100%;
}